# ZORUNLU ÇEVRE DEĞİŞKENLERİ (.env)
CONFIG_KEY=mygroupid34
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net
DB_NAME=readingTracker

# Opsiyonel
PING_URL=https://your-site.onrender.com/api/health



